<h2 class="text-4xl text-center text-[#F87700] font-bold">
  Shorten your <span class="text-[#009DFE]">loooooooong</span> URLs like never before!
  🚀
</h2>
<p class="mt-2 text-sm opacity-60 text-center">
  Copy your long url. Paste it below. Then got it, right? 🤯
</p>
