---
const { title } = Astro.props
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/logo.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700&display=swap"
      rel="stylesheet"
    />
    <!-- palabras claves -->
     <meta name = "keywords" content = "url shortener, short link, url shortener free" />
    <title>{title}</title>
  </head>
  <body class="bg-[#111827] max-w-[300px] min-[400px]:max-w-[400px] min-[640px]:max-w-xl lg:max-w-4xl text-white mx-auto h-screen font-poppins">
    <slot />
  </body>
</html>
